body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.wrapper{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)),url("todo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 600px;
    max-width: 500px;
    margin-left: 40%;
    margin-top: 5px;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, select, button {
    padding: 10px;
    font-size: 16px;
}

button {
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

li.complete {
    text-decoration: line-through;
    color: #888;
}

.task-info {
    display: flex;
    flex-direction: column;
}

.task-actions {
    display: flex;
    gap: 10px;
}
